* {
  box-sizing: border-box;
}
body {
  min-height: 95vh;
  min-height: stretch;
  min-height: -webkit-fill-available;
  display: grid;
  place-items: center;
}
html {
  height: stretch;
  height: -webkit-fill-available;
}
.App {
  padding: 16px;
  width: min(100vw, 450px);
}
.Questioning {
  width: 100%;
}
.Questioning__input-section {
  text-align: center;
  padding: 24px;
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  gap: 16px;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 16px;
}
.Questioning__input-section > * {
  flex-shrink: 1;
  margin: 0;
}
.Questioning__input-section input {
  padding: 8px 12px;
  font-size: 16px;
}
.submit-button {
  width: 100%;
  padding: 12px;
}
